html
  background: white
  +background-size(100% auto)

body
  background: white
  +background-size(100% auto)


div.wrapper
  max-width:    600px
  margin:       0 auto

hgroup
  margin-bottom: 2em 
  h1
    text-align:   center
    line-height:  1.5em
  h2
    text-align:  center
    font-size:   ms(3)

p.summary
  font-size:      ms(2)
  line-height:    1.4em
  margin-bottom:  1em
  text-align:     center

ul.languages
  text-align:  center
  margin-top:  0
  li.cue
    h4
      font-size:     ms(1)
      width:         14em
      text-align:    right
      margin-top:    -0.25em
      margin-right:  1em


  li
    +inline-block



ul.steps
  margin:   0 30px
  padding:  0
  li
    margin-bottom: 2em
  h3
    font-size:      ms(2)
    font-weight:    bold
    text-align:     center
    margin-bottom:  0.5em
  .codeblock
    background:  darken(white, 20)
    padding:     0 0.5em
    +border-radius(0.5em)
    margin-bottom:  0.5em
  code
    text-align:     left
    white-space:    pre-line
    .tag, .line
      white-space:  pre
      color: lighten($bodyColor, 30)
    t_, .translated
      color:        $bodyColor
      font-weight:  bold



