!!! 5

<html ng-app="ngTundraExample">
%head
  %link{'href': 'http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic', 'rel': 'stylesheet', 'type': 'text/css'}
  %link{'rel': 'stylesheet', 'href':'css/style.css'}
  %script{'src': 'components/angular-complete/angular.js'}
  %script{'src': 'ng-tundra.js'}
  %script{'src': 'js/app.js'}
      
<body>
<div class="wrapper">
%hgroup
  %h1.t_ ngTundra
  %h2.t_ Translation for AngularJS Applications
%p.summary.t_
  <strong>ngTundra</strong> provides the tools and functionality to make your Angular Application easy to translate.

%ul.languages
  %li.cue
    %h4.t_
      Load a new translation in a single click.
  %li
    %a{'ng-click': 'changeTundraLocale("en-us")'}
      %img{'src':'/img/flags/us.png', 'alt': 'United States'}
  %li
    %a{'ng-click': 'changeTundraLocale("en-gb")'}
      %img{'src':'/img/flags/gb.png', 'alt': 'Great Britain'}
  %li
    %a{'ng-click': 'changeTundraLocale("it")'}
      %img{'src':'/img/flags/it.png', 'alt': 'Italy'}
  %li
    %a{'ng-click': 'changeTundraLocale("zh-cn")'}
      %img{'src':'/img/flags/cn.png', 'alt': 'Chinese (Simplified)'}

%ul.steps
  %li
    %h3.t_ Mark Elements and Strings for Translation
    %div.codeblock
      %code.html
        <span class="tag">&lt;h1 t_&gt;</span><t_>Translating a header</t_><span class="tag">&lt;/h1&gt;</span>
        <span class="tag">&lt;img src="img.jpg" t_="alt"</span>
        <span class="tag">     alt="</span><t_>Translating an attribute.</t_><span class="tag">"/&gt;</span>
        <span class="tag">&lt;t_&gt;</span><t_>A Standalone Translation</t_><span class="tag">&lt;/t_&gt;</span>
      %code.javascript{'ng-controller': 'javascriptCtrl'}
        %span.tag yourCtrl = function($scope, t_) &#123;
        <span class="line">  $scope.translatedString = t_("<span class="translated">{{ translatedString }}</span>")</span>
        <span class="tag">&#125;</span>

  %li
    %h3.t_ Collect Strings in a Translation Template
    %div.codeblock
      %code.shell
        ngTundra-src2pot srcDir translationsDir/template.pot

    %p.t_
      A node application scans your HTML templates and Javascript files for translatable strings, and puts them all in a standard .pot file.
  %li
    %h3.t_ Get your translations done with industry standard applications.
    %p.t_
      Translate your application using anything that can edit a .pot file, the same format used for GNU gettext. Get it done, and then organise the resulting files in a translations folder.
  %li
    %h3.t_ Convert all your translations to JSON files.
    %div.codeblock
      %code.shell
        ngTundra-po2json translationsDir www/locale

    %p.t_
      Converts all your .po files into JSON files, ready for ngTundra to use.

%footer
  %t_ Tundra is open source.
  %t_ Flag Icons by <a href="http://icondrawer.com">icondrawer.com</a>
</div>
</body>
</html>
