@charset "UTF-8";
/* line 17, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  Font Awesome 3.0
 *    the iconic font designed for use with Twitter Bootstrap
 *    -------------------------------------------------------
 *    The full suite of pictographic icons, examples, and documentation
 *    can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *    License
 *    -------------------------------------------------------
 *    • The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *    • Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *      http://opensource.org/licenses/mit-license.html
 *    • The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *    • Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *      "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *    Contact
 *    -------------------------------------------------------
 *    Email: dave@davegandy.com
 *    Twitter: http://twitter.com/fortaweso_me
 *    Work: Lead Product Designer @ http://kyruus.com */
@font-face {
  font-family: "FontAwesome";
  src: url("/static/font/fontawesome-webfont.eot");
  src: url("/static/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/static/font/fontawesome-webfont.woff") format("woff"), url("/static/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
 *  ------------------------------------------------------- */
/* includes sprites.less reset */
/* line 43, ../../src/example/sass/libs/_font-awesome.sass */
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 57, ../../src/example/sass/libs/_font-awesome.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 65, ../../src/example/sass/libs/_font-awesome.sass */
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 70, ../../src/example/sass/libs/_font-awesome.sass */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* line 75, ../../src/example/sass/libs/_font-awesome.sass */
.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
  line-height: 0.6em;
}
/* line 79, ../../src/example/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 83, ../../src/example/sass/libs/_font-awesome.sass */
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 87, ../../src/example/sass/libs/_font-awesome.sass */
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 91, ../../src/example/sass/libs/_font-awesome.sass */
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
/* line 96, ../../src/example/sass/libs/_font-awesome.sass */
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
  width: 0.75em;
}

/* line 99, ../../src/example/sass/libs/_font-awesome.sass */
.icon-muted {
  color: #eeeeee;
}

/* line 105, ../../src/example/sass/libs/_font-awesome.sass */
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 113, ../../src/example/sass/libs/_font-awesome.sass */
.icon-2x {
  font-size: 2em;
}
/* line 115, ../../src/example/sass/libs/_font-awesome.sass */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 119, ../../src/example/sass/libs/_font-awesome.sass */
.icon-3x {
  font-size: 3em;
}
/* line 121, ../../src/example/sass/libs/_font-awesome.sass */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 125, ../../src/example/sass/libs/_font-awesome.sass */
.icon-4x {
  font-size: 4em;
}
/* line 127, ../../src/example/sass/libs/_font-awesome.sass */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 135, ../../src/example/sass/libs/_font-awesome.sass */
.pull-right {
  float: right;
}

/* line 138, ../../src/example/sass/libs/_font-awesome.sass */
.pull-left {
  float: left;
}

/* line 142, ../../src/example/sass/libs/_font-awesome.sass */
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: 0.35em;
}
/* line 144, ../../src/example/sass/libs/_font-awesome.sass */
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: 0.35em;
}

/* line 150, ../../src/example/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.35em;
}
/* line 152, ../../src/example/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
  height: 0.75em;
}

/* line 158, ../../src/example/sass/libs/_font-awesome.sass */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.45em;
}

/* line 164, ../../src/example/sass/libs/_font-awesome.sass */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.2em;
}

/* line 168, ../../src/example/sass/libs/_font-awesome.sass */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 176, ../../src/example/sass/libs/_font-awesome.sass */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 178, ../../src/example/sass/libs/_font-awesome.sass */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 182, ../../src/example/sass/libs/_font-awesome.sass */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 184, ../../src/example/sass/libs/_font-awesome.sass */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 188, ../../src/example/sass/libs/_font-awesome.sass */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 190, ../../src/example/sass/libs/_font-awesome.sass */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 194, ../../src/example/sass/libs/_font-awesome.sass */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 196, ../../src/example/sass/libs/_font-awesome.sass */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 200, ../../src/example/sass/libs/_font-awesome.sass */
  0% {
    transform: rotate(0deg);
  }

  /* line 202, ../../src/example/sass/libs/_font-awesome.sass */
  100% {
    transform: rotate(359deg);
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons */
/* line 209, ../../src/example/sass/libs/_font-awesome.sass */
.icon-glass:before {
  content: "\f000";
}

/* line 211, ../../src/example/sass/libs/_font-awesome.sass */
.icon-music:before {
  content: "\f001";
}

/* line 213, ../../src/example/sass/libs/_font-awesome.sass */
.icon-search:before {
  content: "\f002";
}

/* line 215, ../../src/example/sass/libs/_font-awesome.sass */
.icon-envelope:before {
  content: "\f003";
}

/* line 217, ../../src/example/sass/libs/_font-awesome.sass */
.icon-heart:before {
  content: "\f004";
}

/* line 219, ../../src/example/sass/libs/_font-awesome.sass */
.icon-star:before {
  content: "\f005";
}

/* line 221, ../../src/example/sass/libs/_font-awesome.sass */
.icon-star-empty:before {
  content: "\f006";
}

/* line 223, ../../src/example/sass/libs/_font-awesome.sass */
.icon-user:before {
  content: "\f007";
}

/* line 225, ../../src/example/sass/libs/_font-awesome.sass */
.icon-film:before {
  content: "\f008";
}

/* line 227, ../../src/example/sass/libs/_font-awesome.sass */
.icon-th-large:before {
  content: "\f009";
}

/* line 229, ../../src/example/sass/libs/_font-awesome.sass */
.icon-th:before {
  content: "\f00a";
}

/* line 231, ../../src/example/sass/libs/_font-awesome.sass */
.icon-th-list:before {
  content: "\f00b";
}

/* line 233, ../../src/example/sass/libs/_font-awesome.sass */
.icon-ok:before {
  content: "\f00c";
}

/* line 235, ../../src/example/sass/libs/_font-awesome.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 237, ../../src/example/sass/libs/_font-awesome.sass */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 239, ../../src/example/sass/libs/_font-awesome.sass */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 241, ../../src/example/sass/libs/_font-awesome.sass */
.icon-off:before {
  content: "\f011";
}

/* line 243, ../../src/example/sass/libs/_font-awesome.sass */
.icon-signal:before {
  content: "\f012";
}

/* line 245, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cog:before {
  content: "\f013";
}

/* line 247, ../../src/example/sass/libs/_font-awesome.sass */
.icon-trash:before {
  content: "\f014";
}

/* line 249, ../../src/example/sass/libs/_font-awesome.sass */
.icon-home:before {
  content: "\f015";
}

/* line 251, ../../src/example/sass/libs/_font-awesome.sass */
.icon-file:before {
  content: "\f016";
}

/* line 253, ../../src/example/sass/libs/_font-awesome.sass */
.icon-time:before {
  content: "\f017";
}

/* line 255, ../../src/example/sass/libs/_font-awesome.sass */
.icon-road:before {
  content: "\f018";
}

/* line 257, ../../src/example/sass/libs/_font-awesome.sass */
.icon-download-alt:before {
  content: "\f019";
}

/* line 259, ../../src/example/sass/libs/_font-awesome.sass */
.icon-download:before {
  content: "\f01a";
}

/* line 261, ../../src/example/sass/libs/_font-awesome.sass */
.icon-upload:before {
  content: "\f01b";
}

/* line 263, ../../src/example/sass/libs/_font-awesome.sass */
.icon-inbox:before {
  content: "\f01c";
}

/* line 265, ../../src/example/sass/libs/_font-awesome.sass */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 267, ../../src/example/sass/libs/_font-awesome.sass */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 270, ../../src/example/sass/libs/_font-awesome.sass */
.icon-refresh:before {
  content: "\f021";
}

/* line 272, ../../src/example/sass/libs/_font-awesome.sass */
.icon-list-alt:before {
  content: "\f022";
}

/* line 274, ../../src/example/sass/libs/_font-awesome.sass */
.icon-lock:before {
  content: "\f023";
}

/* line 276, ../../src/example/sass/libs/_font-awesome.sass */
.icon-flag:before {
  content: "\f024";
}

/* line 278, ../../src/example/sass/libs/_font-awesome.sass */
.icon-headphones:before {
  content: "\f025";
}

/* line 280, ../../src/example/sass/libs/_font-awesome.sass */
.icon-volume-off:before {
  content: "\f026";
}

/* line 282, ../../src/example/sass/libs/_font-awesome.sass */
.icon-volume-down:before {
  content: "\f027";
}

/* line 284, ../../src/example/sass/libs/_font-awesome.sass */
.icon-volume-up:before {
  content: "\f028";
}

/* line 286, ../../src/example/sass/libs/_font-awesome.sass */
.icon-qrcode:before {
  content: "\f029";
}

/* line 288, ../../src/example/sass/libs/_font-awesome.sass */
.icon-barcode:before {
  content: "\f02a";
}

/* line 290, ../../src/example/sass/libs/_font-awesome.sass */
.icon-tag:before {
  content: "\f02b";
}

/* line 292, ../../src/example/sass/libs/_font-awesome.sass */
.icon-tags:before {
  content: "\f02c";
}

/* line 294, ../../src/example/sass/libs/_font-awesome.sass */
.icon-book:before {
  content: "\f02d";
}

/* line 296, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 298, ../../src/example/sass/libs/_font-awesome.sass */
.icon-print:before {
  content: "\f02f";
}

/* line 300, ../../src/example/sass/libs/_font-awesome.sass */
.icon-camera:before {
  content: "\f030";
}

/* line 302, ../../src/example/sass/libs/_font-awesome.sass */
.icon-font:before {
  content: "\f031";
}

/* line 304, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bold:before {
  content: "\f032";
}

/* line 306, ../../src/example/sass/libs/_font-awesome.sass */
.icon-italic:before {
  content: "\f033";
}

/* line 308, ../../src/example/sass/libs/_font-awesome.sass */
.icon-text-height:before {
  content: "\f034";
}

/* line 310, ../../src/example/sass/libs/_font-awesome.sass */
.icon-text-width:before {
  content: "\f035";
}

/* line 312, ../../src/example/sass/libs/_font-awesome.sass */
.icon-align-left:before {
  content: "\f036";
}

/* line 314, ../../src/example/sass/libs/_font-awesome.sass */
.icon-align-center:before {
  content: "\f037";
}

/* line 316, ../../src/example/sass/libs/_font-awesome.sass */
.icon-align-right:before {
  content: "\f038";
}

/* line 318, ../../src/example/sass/libs/_font-awesome.sass */
.icon-align-justify:before {
  content: "\f039";
}

/* line 320, ../../src/example/sass/libs/_font-awesome.sass */
.icon-list:before {
  content: "\f03a";
}

/* line 322, ../../src/example/sass/libs/_font-awesome.sass */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 324, ../../src/example/sass/libs/_font-awesome.sass */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 326, ../../src/example/sass/libs/_font-awesome.sass */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 328, ../../src/example/sass/libs/_font-awesome.sass */
.icon-picture:before {
  content: "\f03e";
}

/* line 330, ../../src/example/sass/libs/_font-awesome.sass */
.icon-pencil:before {
  content: "\f040";
}

/* line 332, ../../src/example/sass/libs/_font-awesome.sass */
.icon-map-marker:before {
  content: "\f041";
}

/* line 334, ../../src/example/sass/libs/_font-awesome.sass */
.icon-adjust:before {
  content: "\f042";
}

/* line 336, ../../src/example/sass/libs/_font-awesome.sass */
.icon-tint:before {
  content: "\f043";
}

/* line 338, ../../src/example/sass/libs/_font-awesome.sass */
.icon-edit:before {
  content: "\f044";
}

/* line 340, ../../src/example/sass/libs/_font-awesome.sass */
.icon-share:before {
  content: "\f045";
}

/* line 342, ../../src/example/sass/libs/_font-awesome.sass */
.icon-check:before {
  content: "\f046";
}

/* line 344, ../../src/example/sass/libs/_font-awesome.sass */
.icon-move:before {
  content: "\f047";
}

/* line 346, ../../src/example/sass/libs/_font-awesome.sass */
.icon-step-backward:before {
  content: "\f048";
}

/* line 348, ../../src/example/sass/libs/_font-awesome.sass */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 350, ../../src/example/sass/libs/_font-awesome.sass */
.icon-backward:before {
  content: "\f04a";
}

/* line 352, ../../src/example/sass/libs/_font-awesome.sass */
.icon-play:before {
  content: "\f04b";
}

/* line 354, ../../src/example/sass/libs/_font-awesome.sass */
.icon-pause:before {
  content: "\f04c";
}

/* line 356, ../../src/example/sass/libs/_font-awesome.sass */
.icon-stop:before {
  content: "\f04d";
}

/* line 358, ../../src/example/sass/libs/_font-awesome.sass */
.icon-forward:before {
  content: "\f04e";
}

/* line 360, ../../src/example/sass/libs/_font-awesome.sass */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 362, ../../src/example/sass/libs/_font-awesome.sass */
.icon-step-forward:before {
  content: "\f051";
}

/* line 364, ../../src/example/sass/libs/_font-awesome.sass */
.icon-eject:before {
  content: "\f052";
}

/* line 366, ../../src/example/sass/libs/_font-awesome.sass */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 368, ../../src/example/sass/libs/_font-awesome.sass */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 370, ../../src/example/sass/libs/_font-awesome.sass */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 372, ../../src/example/sass/libs/_font-awesome.sass */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 374, ../../src/example/sass/libs/_font-awesome.sass */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 376, ../../src/example/sass/libs/_font-awesome.sass */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 378, ../../src/example/sass/libs/_font-awesome.sass */
.icon-question-sign:before {
  content: "\f059";
}

/* line 380, ../../src/example/sass/libs/_font-awesome.sass */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 382, ../../src/example/sass/libs/_font-awesome.sass */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 384, ../../src/example/sass/libs/_font-awesome.sass */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 386, ../../src/example/sass/libs/_font-awesome.sass */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 388, ../../src/example/sass/libs/_font-awesome.sass */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 390, ../../src/example/sass/libs/_font-awesome.sass */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 392, ../../src/example/sass/libs/_font-awesome.sass */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 394, ../../src/example/sass/libs/_font-awesome.sass */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 396, ../../src/example/sass/libs/_font-awesome.sass */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 398, ../../src/example/sass/libs/_font-awesome.sass */
.icon-share-alt:before {
  content: "\f064";
}

/* line 400, ../../src/example/sass/libs/_font-awesome.sass */
.icon-resize-full:before {
  content: "\f065";
}

/* line 402, ../../src/example/sass/libs/_font-awesome.sass */
.icon-resize-small:before {
  content: "\f066";
}

/* line 404, ../../src/example/sass/libs/_font-awesome.sass */
.icon-plus:before {
  content: "\f067";
}

/* line 406, ../../src/example/sass/libs/_font-awesome.sass */
.icon-minus:before {
  content: "\f068";
}

/* line 408, ../../src/example/sass/libs/_font-awesome.sass */
.icon-asterisk:before {
  content: "\f069";
}

/* line 410, ../../src/example/sass/libs/_font-awesome.sass */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 412, ../../src/example/sass/libs/_font-awesome.sass */
.icon-gift:before {
  content: "\f06b";
}

/* line 414, ../../src/example/sass/libs/_font-awesome.sass */
.icon-leaf:before {
  content: "\f06c";
}

/* line 416, ../../src/example/sass/libs/_font-awesome.sass */
.icon-fire:before {
  content: "\f06d";
}

/* line 418, ../../src/example/sass/libs/_font-awesome.sass */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 420, ../../src/example/sass/libs/_font-awesome.sass */
.icon-eye-close:before {
  content: "\f070";
}

/* line 422, ../../src/example/sass/libs/_font-awesome.sass */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 424, ../../src/example/sass/libs/_font-awesome.sass */
.icon-plane:before {
  content: "\f072";
}

/* line 426, ../../src/example/sass/libs/_font-awesome.sass */
.icon-calendar:before {
  content: "\f073";
}

/* line 428, ../../src/example/sass/libs/_font-awesome.sass */
.icon-random:before {
  content: "\f074";
}

/* line 430, ../../src/example/sass/libs/_font-awesome.sass */
.icon-comment:before {
  content: "\f075";
}

/* line 432, ../../src/example/sass/libs/_font-awesome.sass */
.icon-magnet:before {
  content: "\f076";
}

/* line 434, ../../src/example/sass/libs/_font-awesome.sass */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 436, ../../src/example/sass/libs/_font-awesome.sass */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 438, ../../src/example/sass/libs/_font-awesome.sass */
.icon-retweet:before {
  content: "\f079";
}

/* line 440, ../../src/example/sass/libs/_font-awesome.sass */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 442, ../../src/example/sass/libs/_font-awesome.sass */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 444, ../../src/example/sass/libs/_font-awesome.sass */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 446, ../../src/example/sass/libs/_font-awesome.sass */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 448, ../../src/example/sass/libs/_font-awesome.sass */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 450, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 452, ../../src/example/sass/libs/_font-awesome.sass */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 454, ../../src/example/sass/libs/_font-awesome.sass */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 456, ../../src/example/sass/libs/_font-awesome.sass */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 458, ../../src/example/sass/libs/_font-awesome.sass */
.icon-key:before {
  content: "\f084";
}

/* line 460, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cogs:before {
  content: "\f085";
}

/* line 462, ../../src/example/sass/libs/_font-awesome.sass */
.icon-comments:before {
  content: "\f086";
}

/* line 464, ../../src/example/sass/libs/_font-awesome.sass */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 466, ../../src/example/sass/libs/_font-awesome.sass */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 468, ../../src/example/sass/libs/_font-awesome.sass */
.icon-star-half:before {
  content: "\f089";
}

/* line 470, ../../src/example/sass/libs/_font-awesome.sass */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 472, ../../src/example/sass/libs/_font-awesome.sass */
.icon-signout:before {
  content: "\f08b";
}

/* line 474, ../../src/example/sass/libs/_font-awesome.sass */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 476, ../../src/example/sass/libs/_font-awesome.sass */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 478, ../../src/example/sass/libs/_font-awesome.sass */
.icon-external-link:before {
  content: "\f08e";
}

/* line 480, ../../src/example/sass/libs/_font-awesome.sass */
.icon-signin:before {
  content: "\f090";
}

/* line 482, ../../src/example/sass/libs/_font-awesome.sass */
.icon-trophy:before {
  content: "\f091";
}

/* line 484, ../../src/example/sass/libs/_font-awesome.sass */
.icon-github-sign:before {
  content: "\f092";
}

/* line 486, ../../src/example/sass/libs/_font-awesome.sass */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 488, ../../src/example/sass/libs/_font-awesome.sass */
.icon-lemon:before {
  content: "\f094";
}

/* line 490, ../../src/example/sass/libs/_font-awesome.sass */
.icon-phone:before {
  content: "\f095";
}

/* line 492, ../../src/example/sass/libs/_font-awesome.sass */
.icon-check-empty:before {
  content: "\f096";
}

/* line 494, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 496, ../../src/example/sass/libs/_font-awesome.sass */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 498, ../../src/example/sass/libs/_font-awesome.sass */
.icon-twitter:before {
  content: "\f099";
}

/* line 500, ../../src/example/sass/libs/_font-awesome.sass */
.icon-facebook:before {
  content: "\f09a";
}

/* line 502, ../../src/example/sass/libs/_font-awesome.sass */
.icon-github:before {
  content: "\f09b";
}

/* line 504, ../../src/example/sass/libs/_font-awesome.sass */
.icon-unlock:before {
  content: "\f09c";
}

/* line 506, ../../src/example/sass/libs/_font-awesome.sass */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 508, ../../src/example/sass/libs/_font-awesome.sass */
.icon-rss:before {
  content: "\f09e";
}

/* line 510, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 512, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 514, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bell:before {
  content: "\f0a2";
}

/* line 516, ../../src/example/sass/libs/_font-awesome.sass */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 518, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 520, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 522, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 524, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 526, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 528, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 530, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 532, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 534, ../../src/example/sass/libs/_font-awesome.sass */
.icon-globe:before {
  content: "\f0ac";
}

/* line 536, ../../src/example/sass/libs/_font-awesome.sass */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 538, ../../src/example/sass/libs/_font-awesome.sass */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 540, ../../src/example/sass/libs/_font-awesome.sass */
.icon-filter:before {
  content: "\f0b0";
}

/* line 542, ../../src/example/sass/libs/_font-awesome.sass */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 544, ../../src/example/sass/libs/_font-awesome.sass */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 546, ../../src/example/sass/libs/_font-awesome.sass */
.icon-group:before {
  content: "\f0c0";
}

/* line 548, ../../src/example/sass/libs/_font-awesome.sass */
.icon-link:before {
  content: "\f0c1";
}

/* line 550, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 552, ../../src/example/sass/libs/_font-awesome.sass */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 554, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cut:before {
  content: "\f0c4";
}

/* line 556, ../../src/example/sass/libs/_font-awesome.sass */
.icon-copy:before {
  content: "\f0c5";
}

/* line 558, ../../src/example/sass/libs/_font-awesome.sass */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 560, ../../src/example/sass/libs/_font-awesome.sass */
.icon-save:before {
  content: "\f0c7";
}

/* line 562, ../../src/example/sass/libs/_font-awesome.sass */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 564, ../../src/example/sass/libs/_font-awesome.sass */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 566, ../../src/example/sass/libs/_font-awesome.sass */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 568, ../../src/example/sass/libs/_font-awesome.sass */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 570, ../../src/example/sass/libs/_font-awesome.sass */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 572, ../../src/example/sass/libs/_font-awesome.sass */
.icon-underline:before {
  content: "\f0cd";
}

/* line 574, ../../src/example/sass/libs/_font-awesome.sass */
.icon-table:before {
  content: "\f0ce";
}

/* line 576, ../../src/example/sass/libs/_font-awesome.sass */
.icon-magic:before {
  content: "\f0d0";
}

/* line 578, ../../src/example/sass/libs/_font-awesome.sass */
.icon-truck:before {
  content: "\f0d1";
}

/* line 580, ../../src/example/sass/libs/_font-awesome.sass */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 582, ../../src/example/sass/libs/_font-awesome.sass */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 584, ../../src/example/sass/libs/_font-awesome.sass */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 586, ../../src/example/sass/libs/_font-awesome.sass */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 588, ../../src/example/sass/libs/_font-awesome.sass */
.icon-money:before {
  content: "\f0d6";
}

/* line 590, ../../src/example/sass/libs/_font-awesome.sass */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 592, ../../src/example/sass/libs/_font-awesome.sass */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 594, ../../src/example/sass/libs/_font-awesome.sass */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 596, ../../src/example/sass/libs/_font-awesome.sass */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 598, ../../src/example/sass/libs/_font-awesome.sass */
.icon-columns:before {
  content: "\f0db";
}

/* line 600, ../../src/example/sass/libs/_font-awesome.sass */
.icon-sort:before {
  content: "\f0dc";
}

/* line 602, ../../src/example/sass/libs/_font-awesome.sass */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 604, ../../src/example/sass/libs/_font-awesome.sass */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 606, ../../src/example/sass/libs/_font-awesome.sass */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 608, ../../src/example/sass/libs/_font-awesome.sass */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 610, ../../src/example/sass/libs/_font-awesome.sass */
.icon-undo:before {
  content: "\f0e2";
}

/* line 612, ../../src/example/sass/libs/_font-awesome.sass */
.icon-legal:before {
  content: "\f0e3";
}

/* line 614, ../../src/example/sass/libs/_font-awesome.sass */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 616, ../../src/example/sass/libs/_font-awesome.sass */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 618, ../../src/example/sass/libs/_font-awesome.sass */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 620, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 622, ../../src/example/sass/libs/_font-awesome.sass */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 624, ../../src/example/sass/libs/_font-awesome.sass */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 626, ../../src/example/sass/libs/_font-awesome.sass */
.icon-paste:before {
  content: "\f0ea";
}

/* line 628, ../../src/example/sass/libs/_font-awesome.sass */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 630, ../../src/example/sass/libs/_font-awesome.sass */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 632, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 634, ../../src/example/sass/libs/_font-awesome.sass */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 636, ../../src/example/sass/libs/_font-awesome.sass */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 638, ../../src/example/sass/libs/_font-awesome.sass */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 640, ../../src/example/sass/libs/_font-awesome.sass */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 642, ../../src/example/sass/libs/_font-awesome.sass */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 644, ../../src/example/sass/libs/_font-awesome.sass */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 646, ../../src/example/sass/libs/_font-awesome.sass */
.icon-food:before {
  content: "\f0f5";
}

/* line 648, ../../src/example/sass/libs/_font-awesome.sass */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 650, ../../src/example/sass/libs/_font-awesome.sass */
.icon-building:before {
  content: "\f0f7";
}

/* line 652, ../../src/example/sass/libs/_font-awesome.sass */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 654, ../../src/example/sass/libs/_font-awesome.sass */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 656, ../../src/example/sass/libs/_font-awesome.sass */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 658, ../../src/example/sass/libs/_font-awesome.sass */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 660, ../../src/example/sass/libs/_font-awesome.sass */
.icon-beer:before {
  content: "\f0fc";
}

/* line 662, ../../src/example/sass/libs/_font-awesome.sass */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 664, ../../src/example/sass/libs/_font-awesome.sass */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 666, ../../src/example/sass/libs/_font-awesome.sass */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 668, ../../src/example/sass/libs/_font-awesome.sass */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 670, ../../src/example/sass/libs/_font-awesome.sass */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 672, ../../src/example/sass/libs/_font-awesome.sass */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 674, ../../src/example/sass/libs/_font-awesome.sass */
.icon-angle-left:before {
  content: "\f104";
}

/* line 676, ../../src/example/sass/libs/_font-awesome.sass */
.icon-angle-right:before {
  content: "\f105";
}

/* line 678, ../../src/example/sass/libs/_font-awesome.sass */
.icon-angle-up:before {
  content: "\f106";
}

/* line 680, ../../src/example/sass/libs/_font-awesome.sass */
.icon-angle-down:before {
  content: "\f107";
}

/* line 682, ../../src/example/sass/libs/_font-awesome.sass */
.icon-desktop:before {
  content: "\f108";
}

/* line 684, ../../src/example/sass/libs/_font-awesome.sass */
.icon-laptop:before {
  content: "\f109";
}

/* line 686, ../../src/example/sass/libs/_font-awesome.sass */
.icon-tablet:before {
  content: "\f10a";
}

/* line 688, ../../src/example/sass/libs/_font-awesome.sass */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 690, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 692, ../../src/example/sass/libs/_font-awesome.sass */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 694, ../../src/example/sass/libs/_font-awesome.sass */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 696, ../../src/example/sass/libs/_font-awesome.sass */
.icon-spinner:before {
  content: "\f110";
}

/* line 698, ../../src/example/sass/libs/_font-awesome.sass */
.icon-circle:before {
  content: "\f111";
}

/* line 700, ../../src/example/sass/libs/_font-awesome.sass */
.icon-reply:before {
  content: "\f112";
}

/* line 702, ../../src/example/sass/libs/_font-awesome.sass */
.icon-github-alt:before {
  content: "\f113";
}

/* line 704, ../../src/example/sass/libs/_font-awesome.sass */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 706, ../../src/example/sass/libs/_font-awesome.sass */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/******************************************************************************
 * HTML5 display definitions
 ***************************************************************************** */
/* line 7, ../../src/example/sass/libs/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 11, ../../src/example/sass/libs/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 17, ../../src/example/sass/libs/_normalize.sass */
audio:not([controls]) {
  display: none;
}

/* line 21, ../../src/example/sass/libs/_normalize.sass */
[hidden] {
  display: none;
}

/******************************************************************************
 * Base
 ***************************************************************************** */
/* line 30, ../../src/example/sass/libs/_normalize.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 40, ../../src/example/sass/libs/_normalize.sass */
body {
  margin: 0;
}

/* line 44, ../../src/example/sass/libs/_normalize.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
}

/******************************************************************************
 * Links
 ***************************************************************************** */
/* line 53, ../../src/example/sass/libs/_normalize.sass */
a {
  color: #0000ee;
}
/* line 55, ../../src/example/sass/libs/_normalize.sass */
a:visited {
  color: #551a8b;
}
/* line 57, ../../src/example/sass/libs/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 60, ../../src/example/sass/libs/_normalize.sass */
a:hover, a:active {
  outline: 0;
}

/******************************************************************************
 * Typography
 ***************************************************************************** */
/* line 69, ../../src/example/sass/libs/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, ../../src/example/sass/libs/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 77, ../../src/example/sass/libs/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 81, ../../src/example/sass/libs/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 86, ../../src/example/sass/libs/_normalize.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 93, ../../src/example/sass/libs/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 99, ../../src/example/sass/libs/_normalize.sass */
q {
  quotes: none;
}
/* line 104, ../../src/example/sass/libs/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../src/example/sass/libs/_normalize.sass */
small {
  font-size: 75%;
}

/* line 111, ../../src/example/sass/libs/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 116, ../../src/example/sass/libs/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 121, ../../src/example/sass/libs/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 127, ../../src/example/sass/libs/_normalize.sass */
sub {
  bottom: -0.25em;
}

/******************************************************************************
 * Lists
 ***************************************************************************** */
/* line 134, ../../src/example/sass/libs/_normalize.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 138, ../../src/example/sass/libs/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 142, ../../src/example/sass/libs/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/******************************************************************************
 * Embedded content
 ***************************************************************************** */
/* */
/* line 152, ../../src/example/sass/libs/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 159, ../../src/example/sass/libs/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/******************************************************************************
 * Figures
 ***************************************************************************** */
/* line 167, ../../src/example/sass/libs/_normalize.sass */
figure {
  margin: 0;
}

/******************************************************************************
 * Forms
 ***************************************************************************** */
/* line 175, ../../src/example/sass/libs/_normalize.sass */
form {
  margin: 0;
}

/* line 179, ../../src/example/sass/libs/_normalize.sass */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 184, ../../src/example/sass/libs/_normalize.sass */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 190, ../../src/example/sass/libs/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 199, ../../src/example/sass/libs/_normalize.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 206, ../../src/example/sass/libs/_normalize.sass */
table button, table input {
  *overflow: auto;
}

/* line 211, ../../src/example/sass/libs/_normalize.sass */
button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 219, ../../src/example/sass/libs/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 224, ../../src/example/sass/libs/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 232, ../../src/example/sass/libs/_normalize.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 236, ../../src/example/sass/libs/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 242, ../../src/example/sass/libs/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/******************************************************************************
 * Tables
 ***************************************************************************** */
/* line 252, ../../src/example/sass/libs/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../../src/example/sass/style.sass */
a {
  color: #214fd4;
}
/* line 18, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #214fd4;
}
/* line 21, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #002db2;
}
/* line 24, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #002db2;
}
/* line 27, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #214fd4;
}

/* line 55, ../../src/example/sass/style.sass */
textarea {
  display: block;
}

/* line 1, ../../src/example/sass/_base.sass */
body {
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 7, ../../src/example/sass/_base.sass */
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 59px;
  line-height: 1.25em;
}

/* line 13, ../../src/example/sass/_base.sass */
h2 {
  font-weight: normal;
  font-size: 38px;
  line-height: 1.25em;
}

/* line 18, ../../src/example/sass/_base.sass */
h3 {
  font-weight: normal;
  font-size: 37px;
  line-height: 1.25em;
}

/* line 23, ../../src/example/sass/_base.sass */
h4 {
  font-weight: normal;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 28, ../../src/example/sass/_base.sass */
h5 {
  font-weight: bold;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 33, ../../src/example/sass/_base.sass */
h6 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 1, ../../src/example/sass/_examplePage.sass */
html {
  background: white;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 5, ../../src/example/sass/_examplePage.sass */
body {
  background: white;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 10, ../../src/example/sass/_examplePage.sass */
div.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* line 14, ../../src/example/sass/_examplePage.sass */
hgroup {
  margin-bottom: 2em;
}
/* line 16, ../../src/example/sass/_examplePage.sass */
hgroup h1 {
  text-align: center;
  line-height: 1.5em;
}
/* line 19, ../../src/example/sass/_examplePage.sass */
hgroup h2 {
  text-align: center;
  font-size: 23px;
}

/* line 23, ../../src/example/sass/_examplePage.sass */
p.summary {
  font-size: 23px;
  line-height: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}

/* line 29, ../../src/example/sass/_examplePage.sass */
ul.languages {
  text-align: center;
  margin-top: 0;
}
/* line 33, ../../src/example/sass/_examplePage.sass */
ul.languages li.cue h4 {
  font-size: 15px;
  width: 14em;
  text-align: right;
  margin-top: -0.25em;
  margin-right: 1em;
}
/* line 41, ../../src/example/sass/_examplePage.sass */
ul.languages li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 46, ../../src/example/sass/_examplePage.sass */
ul.steps {
  margin: 0 30px;
  padding: 0;
}
/* line 49, ../../src/example/sass/_examplePage.sass */
ul.steps li {
  margin-bottom: 2em;
}
/* line 51, ../../src/example/sass/_examplePage.sass */
ul.steps h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}
/* line 56, ../../src/example/sass/_examplePage.sass */
ul.steps .codeblock {
  background: #cccccc;
  padding: 0 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
/* line 61, ../../src/example/sass/_examplePage.sass */
ul.steps code {
  text-align: left;
  white-space: pre-line;
}
/* line 64, ../../src/example/sass/_examplePage.sass */
ul.steps code .tag, ul.steps code .line {
  white-space: pre;
  color: #4d4d4d;
}
/* line 67, ../../src/example/sass/_examplePage.sass */
ul.steps code t_, ul.steps code .translated {
  color: black;
  font-weight: bold;
}
