.CodeMirror-scroll
  height: auto
  overflow-y: hidden
  overflow-x: auto

.cm-s-hisho-light
  font-family: "Arial"
  .cm-project:first-child
    border-left: 5px solid #9F9
  .cm-schedule:first-child
    border-left: 5px solid #99F
  .cm-action:first-child
    border-left: 5px solid #F99
  .cm-topic
    border: none
    font-weight: bold
    color: green
  .cm-contact
    border: none
    font-weight: bold
    color: blue
  .cm-context
    border: none
    font-weight: bold
    color: red
  .cm-flag
    border: none
    color: black
    font-weight: bold
  .cm-flagValue
    border: none
    color: #099
    font-weight: bold



.ui-autocomplete
  margin-top: 0.5em
  +border-radius(5px)
  border: 1px solid #BBB
  background: #FFF
  +box-shadow(0px 0px 5px #BBB)
  width: 20em !important
  padding: 0.25em 0
  .ui-menu-item
    display: block
    a
      display: block
      padding: 2px 5px
      color: blue
      text-decoration: none
    & a.ui-state-hover
      background: blue
      color: white

.CodeMirror-completions
  z-index: 300

ul.auto-list
  display: none
  position: absolute
  top: 0px
  left: 0px
  z-index: 300
  border: 1px solid green
  background-color: #A3DF99
  padding: 0
  margin: 0
  list-style:none

ul.auto-list > li:hover,
ul.auto-list > li[data-selected=true]
  background-color: #236574


ul.auto-list > li
  border: 1px solid gray
  cursor: default
  padding: 2px

mark
  font-weight: bold

